@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@200;300;400;700&display=swap');

.book-wrapper {
  background-color: white;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em;
  height: 10rem;
  margin-bottom: 2rem;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.vertical-line {
  width: 0.125rem;
  height: 4.375rem;
  margin-right: 10rem;
  border: solid 1px #e8e8e8;
}

.button-wrapper button {
  width: 11rem;
  height: 3rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: 200;
  font-size: 1rem;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
}

.text-wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  opacity: 0.6;
}

.text-wrapper h2 {
  font-size: 1.375rem;
  font-weight: bold;
}

.text-wrapper p {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}
